django
djangorestframework
django-cors-headers
mongoengine
python-dotenv
google-auth
google-auth-oauthlib
openai==0.28
httpx
numpy
wheel
ffmpeg-python
SoundFile
librosa
sounddevice
torch
torchvision
transformers